// Primary
$primary_darkest: #001c21;
$primary_darker: #004552;
$primary_dark: #006e82;
$primary: #008aa3;
$primary_light: #33a1b5;
$primary_lighter: #62c7ee;
$primary_lightest: #80c5d1;
$primary_active_bg: #D9EEF1;

$black: $primary_darkest;
$white: #FFF;

// // Secondary
// $secondary_darkest: #00222f;
// $secondary_darker: #005575;
// $secondary_dark: #0088bb;
// $secondary: #00aaea;
// $secondary_light: #33bbee;
// $secondary_lighter: #80d5f5;
// $secondary_lightest: #cceefb;
// $secondary_active_bg: #D9F2FC;

// // Info
// $info_darkest: #263133;
// $info_darker: #607b80;
// $info_dark: #99c4cc;
// $info: #bff5ff;
// $info_light: #ccf7ff;
// $info_lighter: #dffaff;
// $info_lightest: #f2fdff;
// $info_active_bg: #F5FEFF;

// Red
$red_darkest: #44140c;
$red_darker: #862716;
$red_dark: #c93a22;
$red: #f55d3e;
$red_light: #ff7d66;
$red_lighter: #fbdace;
$red_lightest: #ffd4cc;
$red_active_bg: #FEE7E2;

// // Orange
// $orange_darkest: #452800;
// $orange_darker: #884e00;
// $orange_dark: #cd7600;
// $orange: #ffa400;
// $orange_light: #ffb700;
// $orange_lighter: #ffcf72;
// $orange_lightest: #ffe7ba;
// $orange_active_bg: #FFF1D9;

// // Yellow
// $yellow_darkest: #413200;
// $yellow_darker: #826200;
// $yellow_dark: #c39300;
// $yellow: #f9c80e;
// $yellow_light: #ffd40f;
// $yellow_lighter: #ffe277;
// $yellow_lightest: #fff1bc;
// $yellow_dark_active_bg: #F6EFD9;

// // Green
// $green_darkest: #003416;
// $green_darker: #00672c;
// $green_dark: #009b42;
// $green: #00cc66;
// $green_light: #48da91;
// $green_lighter: #91e9bd;
// $green_lightest: #b6f0d3;
// $green_active_bg: #D9F7E8;

// // Gray_lighter
// $gray_darkest: #344244;
// $gray_darker: #7f8b8d;
// $gray_dark: #acb4b6;
// $gray: #cfd4d5;
// $gray_light: #dee1e2;
// $gray_lighter: #eceeee;
// $gray_lightest: #f9f9fa;

// // Others
// $th_bg: #e0f1f4;

/** BS5 Customed **/
// $primary: $primary;
// $secondary: $secondary;
// $dark: $secondary_darker;
// $light: $secondary_lighter;
// $font_primary: $primary;
// $font_hover: $primary;
// $white: #FFF;
// $black: $primary_darkest;
// $disable_text: $gray_darker;
// $bg_primary: $Gray_lighter;
// $bg_dark: $Gray_light;
// $bg_gradient_blue: linear-gradient(to right, #f2fafd 0%, #f3f6fe 100%);
// $font_primary: $Gray_darker;
// $font_hover: $Blue;
// $font_warn: $Red;
